


body
{ margin: 0; padding: 0;
    background-image: url("./Capture1.JPG");
    background-color: rgba(255,255,255,0.8);
    background-blend-mode: lighten;
    

   /* filter: blur(8px);
    -webkit-filter: blur(8px);
    height:1000%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;*/
}


#box {

position: fixed;
width: 300px;
height: 150px;
top: 60%;
left: 50%;
margin: -150px 0 0 -150px;
border: 3px solid indianred;
border-radius: 12px;
text-align: center;
}
.button{
background-color :indianred;
font-size: 16px;
padding: 12px 28px;
color: aliceblue;
border-radius: 12px;
}
